.main-product {
	position: relative;
	padding: 0px 0px 165px;
}

aside {
	position: absolute;
    top: 338px;
    right: -140px;
    width: 350px;
}

aside h1 {
	color: #000;
	font-family: 'Playfair Display', serif;
	font-size: 55px;
	margin-bottom: 20px;
}

aside .old-price {
	text-decoration: line-through;
	color: #888;
	font-size: 28px;
	font-weight: bold;
}

aside .new-price {
	color: #000;
	font-size: 28px;
	font-weight: bold;
}

.old-price-bottom, .new-price-bottom {
	font-size: 22px;
}

.short-desc-aside {
	font-size: 18px;
    margin-top: 15px;
}

.short-desc-aside a {
	text-decoration: underline;
}

.product-page-button {
	text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 15px;
	margin-top: 35px;

}

.long-desc-product, .price-bottom-product {
	width: 720px;
	margin: 65px 0px 50px 250px;
}

.long-desc-product p {
	font-size: 19px;
}

main span {
    color: #000;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    margin-bottom: 10px;
    display: inline-block;
}
